#include "winideconst.h"
#include "windows.h"

// --- Icon ---

IDI_APP_ICON            ICON    DISCARDABLE     "icons\\elgui.ico"

// --- Bitmaps ---

IDR_FILENEW	        BITMAP		"icons\\newFile.bmp"
IDR_FILEOPEN	        BITMAP		"icons\\openFile.bmp"
IDR_FILESAVE	        BITMAP		"icons\\saveFile.bmp"
IDR_SAVEALL		BITMAP		"icons\\saveAll.bmp"
IDR_CLOSEFILE	        BITMAP		"icons\\closeFile.bmp"
IDR_CLOSEALL	        BITMAP		"icons\\closeAll.bmp"
IDR_CUT		        BITMAP		"icons\\cut.bmp"
IDR_COPY	        BITMAP		"icons\\copy.bmp"
IDR_PASTE	        BITMAP		"icons\\paste.bmp"
IDR_UNDO	        BITMAP		"icons\\undo.bmp"
IDR_REDO	        BITMAP		"icons\\redo.bmp"
IDR_RUN	                BITMAP		"icons\\run.bmp"
IDR_STOP	        BITMAP		"icons\\stop.bmp"
IDR_STEPINTO            BITMAP          "icons\\stepinto.bmp"
IDR_STEPOVER            BITMAP          "icons\\stepover.bmp"
IDR_GOTO                BITMAP          "icons\\goto.bmp"
IDR_FILETREE			ICON	"icons\\file.ico"

// --- Menu ---

IDR_MAIN_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        POPUP "&New"
        BEGIN
            MENUITEM "Source File\tCtrl+N",         IDM_FILE_NEW
            MENUITEM "Project",                     IDM_PROJECT_NEW
        END
        POPUP "&Open"
        BEGIN
            MENUITEM "File...\tCtrl+O",             IDM_FILE_OPEN
            MENUITEM "Project...\tCtrl+Shift+O",    IDM_PROJECT_OPEN
        END
        MENUITEM SEPARATOR
        MENUITEM "&Save\tCtrl+S",                   IDM_FILE_SAVE
        MENUITEM "Save &As...",                     IDM_FILE_SAVEAS
        MENUITEM "Save &Project As...",             IDM_FILE_SAVEPROJECT
        MENUITEM "Save A&ll\tCtrl+Shift+S",         IDM_FILE_SAVEALL
        MENUITEM SEPARATOR
        MENUITEM "&Close\tCtrl+W",                  IDM_FILE_CLOSE
        MENUITEM "Cl&ose All\tCtrl+Shift+W",        IDM_FILE_CLOSEALL
        MENUITEM "Cl&ose Project",                  IDM_PROJECT_CLOSE
        MENUITEM "Cl&ose All But Active",           IDM_FILE_CLOSEALLBUT
        MENUITEM SEPARATOR
        POPUP "Recent &files"
        BEGIN
        MENUITEM "Clear history",                   IDM_FILE_FILES_CLEAR, GRAYED
        END
        POPUP "Recent projec&ts"
        BEGIN
        MENUITEM "Clear history",                   IDM_FILE_PROJECTS_CLEAR, GRAYED
        END
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4",                   IDM_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z",                   IDM_EDIT_UNDO
        MENUITEM "&Redo\tCtrl+Y",                   IDM_EDIT_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X",                    IDM_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C",                   IDM_EDIT_COPY
        MENUITEM "&Paste\tCtrl+V",                  IDM_EDIT_PASTE
        MENUITEM "&Delete\tDel",                    IDM_EDIT_DELETE
        MENUITEM SEPARATOR
        MENUITEM "&Select All\tCtrl+A",             IDM_EDIT_SELECTALL
        MENUITEM SEPARATOR
        MENUITEM "Insert Tab (Indent)\tTab",        IDM_EDIT_INDENT
        MENUITEM "Remove Tab (Outdent)\tShift+Tab", IDM_EDIT_OUTDENT
        MENUITEM "&Trim whitespace\tCtrl+T",        IDM_EDIT_TRIM
        MENUITEM "Erase &line\tCtrl+L",             IDM_EDIT_ERASELINE
        MENUITEM SEPARATOR
        MENUITEM "To upper case\tCtrl+U",           IDM_EDIT_UPPERCASE
        MENUITEM "To lower case\tCtrl+Shift+U",     IDM_EDIT_LOWERCASE
        MENUITEM SEPARATOR
        MENUITEM "Bloc&k comment\tCtrl+K",          IDM_EDIT_COMMENT
        MENUITEM "Bl&ock uncomment\tCtrl+Shift+K",  IDM_EDIT_UNCOMMENT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&ProjectView",                    IDM_VIEW_PROJECTVIEW
        MENUITEM SEPARATOR
        MENUITEM "&Compiler output",                IDM_VIEW_OUTPUT
        MENUITEM "&Messages",                       IDM_VIEW_MESSAGES
        MENUITEM "&Debug watch",                    IDM_VIEW_WATCH
        MENUITEM "Call &stack",                     IDM_VIEW_CALLSTACK
        MENUITEM "ELENA &Interactive",              IDM_VIEW_VMCONSOLE
    END
    POPUP "&Search"
    BEGIN
        MENUITEM "&Find...\tCtrl+F",                IDM_SEARCH_FIND
        MENUITEM "Find &next\tF3",                  IDM_SEARCH_FINDNEXT
        MENUITEM SEPARATOR
        MENUITEM "&Replace...\tCtrl+R",             IDM_SEARCH_REPLACE
        MENUITEM SEPARATOR
        MENUITEM "&Go to line...\tCtrl+G",          IDM_SEARCH_GOTOLINE
    END
    POPUP "&Project"
    BEGIN
        MENUITEM "&Include",                    IDM_PROJECT_INCLUDE
        MENUITEM "&Exclude",                    IDM_PROJECT_EXCLUDE
        MENUITEM SEPARATOR
        MENUITEM "&Compile\tCtrl+F9",           IDM_PROJECT_COMPILE
        MENUITEM "Cle&an up",                   IDM_PROJECT_CLEAN
        MENUITEM SEPARATOR
        MENUITEM "&Forwards...",                IDM_PROJECT_FORWARDS
        MENUITEM "O&ptions...",                 IDM_PROJECT_OPTION
    END
    POPUP "&Debug"
    BEGIN
       MENUITEM "&Run\tF9",                    IDM_DEBUG_RUN
       MENUITEM "&Step Over\tF8",              IDM_DEBUG_STEPOVER
       MENUITEM "Step &Into\tF7",              IDM_DEBUG_STEPINTO
       MENUITEM "&Goto to Cursor\tF4",         IDM_DEBUG_RUNTO
       MENUITEM SEPARATOR
       MENUITEM "&Toggle breakpoint\tF5",      IDM_DEBUG_BREAKPOINT
       MENUITEM "&Clear all breakpoints\tCtrl+Shift+F5", IDM_DEBUG_CLEARBREAKPOINT
       MENUITEM SEPARATOR
       MENUITEM "Go To So&urce Code",          IDM_DEBUG_GOTOSOURCE
       MENUITEM SEPARATOR
       MENUITEM "Stop &Execution\tCtrl+F2",    IDM_DEBUG_STOP
    END
    POPUP "&Tools"
    BEGIN
       MENUITEM "Editor Options...",                IDM_EDITOR_OPTIONS
       MENUITEM "Debugger Options...",              IDM_DEBUGGER_OPTIONS
    END
    POPUP "&Window"
    BEGIN
        MENUITEM "&Next\tCtrl+Tab",                 IDM_WINDOW_NEXT
        MENUITEM "Previous\tCtrl+Shift+Tab",        IDM_WINDOW_PREVIOUS
        MENUITEM SEPARATOR
        MENUITEM "&Windows...\tAlt+0",              IDM_WINDOW_WINDOWS
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&ELENA API",                 IDM_HELP_API
	MENUITEM SEPARATOR
	MENUITEM "&About...",                  IDM_HELP_ABOUT

    END
    MENUITEM "X",                                   IDM_FILE_CLOSE, HELP
END

// --- Accelerator ---

IDR_IDE_ACCELERATORS ACCELERATORS MOVEABLE PURE
BEGIN
    "0",            IDM_WINDOW_WINDOWS,     VIRTKEY, ALT
    "1",            IDM_WINDOW_FIRST,       VIRTKEY, ALT
    "2",            IDM_WINDOW_SECOND,      VIRTKEY, ALT
    "3",            IDM_WINDOW_THIRD,       VIRTKEY, ALT
    "4",            IDM_WINDOW_FOURTH,      VIRTKEY, ALT
    "5",            IDM_WINDOW_FIFTH,       VIRTKEY, ALT
    "6",            IDM_WINDOW_SIXTH,       VIRTKEY, ALT
    "7",            IDM_WINDOW_SEVENTH,     VIRTKEY, ALT
    "8",            IDM_WINDOW_EIGHTH,      VIRTKEY, ALT
    "9",            IDM_WINDOW_NINTH,       VIRTKEY, ALT
    "A",            IDM_EDIT_SELECTALL,     VIRTKEY, CONTROL
    "C",            IDM_EDIT_COPY,          VIRTKEY, CONTROL
    "D",            IDM_EDIT_DUPLICATE,     VIRTKEY, CONTROL
    "E",            IDM_EDIT_SWAP,          VIRTKEY, CONTROL
    "F",            IDM_SEARCH_FIND,        VIRTKEY, CONTROL
    "G",            IDM_SEARCH_GOTOLINE,    VIRTKEY, CONTROL
    "K",            IDM_EDIT_COMMENT,       VIRTKEY, CONTROL
    "K",            IDM_EDIT_UNCOMMENT,     VIRTKEY, SHIFT, CONTROL
    "L",            IDM_EDIT_ERASELINE,     VIRTKEY, CONTROL
    "N",            IDM_FILE_NEW,           VIRTKEY, CONTROL
    "O",            IDM_FILE_OPEN,          VIRTKEY, CONTROL
    "O",            IDM_PROJECT_OPEN,       VIRTKEY, SHIFT, CONTROL
    "R",            IDM_SEARCH_REPLACE,     VIRTKEY, CONTROL
    "S",            IDM_FILE_SAVE,          VIRTKEY, CONTROL
    "S",            IDM_FILE_SAVEALL,       VIRTKEY, SHIFT, CONTROL
    "T",            IDM_EDIT_TRIM,          VIRTKEY, CONTROL
    "U",             IDM_EDIT_UPPERCASE,     VIRTKEY, CONTROL
    "U",             IDM_EDIT_LOWERCASE,     VIRTKEY, SHIFT, CONTROL
    "V",            IDM_EDIT_PASTE,         VIRTKEY, CONTROL
    "W",            IDM_FILE_CLOSE,         VIRTKEY, CONTROL
    "W",            IDM_FILE_CLOSEALL,      VIRTKEY, SHIFT, CONTROL
    "W",            IDM_WATCH_OPEN,         VIRTKEY, ALT
    "X",            IDM_EDIT_CUT,           VIRTKEY, CONTROL
    "X",            IDM_FILE_EXIT,          VIRTKEY, ALT
    "Y",            IDM_EDIT_REDO,          VIRTKEY, CONTROL
    "Z",            IDM_EDIT_UNDO,          VIRTKEY, CONTROL
    VK_TAB,         IDM_EDIT_OUTDENT,       VIRTKEY, SHIFT
    VK_TAB,         IDM_WINDOW_NEXT,        VIRTKEY, CONTROL
    VK_TAB,         IDM_WINDOW_PREVIOUS,    VIRTKEY, SHIFT, CONTROL
    VK_F2,          IDM_DEBUG_STOP,         VIRTKEY, CONTROL
    VK_F3,          IDM_SEARCH_FINDNEXT,    VIRTKEY
    VK_F4,          IDM_DEBUG_RUNTO,        VIRTKEY
    VK_F5,          IDM_DEBUG_BREAKPOINT,   VIRTKEY
    VK_F5,          IDM_DEBUG_CLEARBREAKPOINT,  VIRTKEY, SHIFT, CONTROL
    VK_F7,          IDM_DEBUG_STEPINTO,     VIRTKEY
    VK_F8,          IDM_DEBUG_STEPOVER,     VIRTKEY
    VK_F9,          IDM_DEBUG_RUN,          VIRTKEY
    VK_F9,          IDM_PROJECT_COMPILE,    VIRTKEY, CONTROL
END


IDD_SETTINGS DIALOGEX  0, 0, 268, 246
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Project Settings"
FONT 8, "Microsoft Sans Serif", 0, 0, 1
BEGIN
    GROUPBOX        "Project",IDC_STATIC,7,4,190,50
    CONTROL         "Type",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,13,14,60,11
    COMBOBOX        IDC_SETTINGS_TEPMPLATE,73,14,113,140, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Namespace",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,13,30,60,11
    EDITTEXT        IDC_SETTINGS_PACKAGE,73,30,113,14,ES_LOWERCASE | ES_AUTOHSCROLL 

    GROUPBOX        "Compiler",IDC_STATIC,7,57,190,50
    CONTROL         "Additional options",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,13,67,60,11
    EDITTEXT        IDC_SETTINGS_OPTIONS,73,67,113,14,ES_LOWERCASE | ES_AUTOHSCROLL 

    GROUPBOX        "Linker",IDC_STATIC,7,111,190,68
    CONTROL         "Target file name",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,13,121,60,11
    EDITTEXT        IDC_SETTINGS_TARGET,73,121,113,14,ES_LOWERCASE
    CONTROL         "Output path",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,13,139,60,11
    EDITTEXT        IDC_SETTINGS_OUTPUT,73,139,113,14,ES_LOWERCASE

    GROUPBOX        "Debugger",IDC_STATIC,7,183,190,50
    CONTROL         "Debug mode",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,13,193,107, 13
    COMBOBOX        IDC_SETTINGS_DEBUG,83,193,103,140, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Command arguments",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,13,210,70,11
    EDITTEXT        IDC_SETTINGS_ARGUMENT,83,210,103,14,ES_AUTOHSCROLL

    DEFPUSHBUTTON   "OK",IDOK,208,4,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,208,22,50,14
END

IDD_WINDOWS DIALOGEX 0, 0, 260, 166
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Window List"
FONT 8, "Microsoft Sans Serif", 0, 0, 1
BEGIN
    LISTBOX         IDC_WINDOWS_LIST,7,7,172,153,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP | LBS_EXTENDEDSEL 
    DEFPUSHBUTTON   "Activate",IDOK,184,7,70,14
    PUSHBUTTON      "Cancel",IDCANCEL,184,25,70,14
    PUSHBUTTON      "Close Window(s)",IDC_WINDOWS_CLOSE,184,50,70,14 
END

IDD_EDITOR_SETTINGS DIALOGEX 0, 0, 290, 160
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Editor Settings"
FONT 8, "Microsoft Sans Serif", 0, 0, 1
BEGIN
    CONTROL         "Line Numbers",IDC_EDITOR_LINENUMBERFLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,15,107,13
    CONTROL         "Highlight syntax",IDC_EDITOR_HIGHLIGHSYNTAXFLAG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,30,107,13
    COMBOBOX        IDC_EDITOR_COLORSCHEME,16,56,113,140,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_EDITOR_FONTSIZE,16,82,113,140,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Use TAB character",IDC_EDITOR_USETAB,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,156,19,107,13
    CONTROL         "TAB size in spaces:",IDC_STATIC,"Static",
                    SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,157,36,64,10
    EDITTEXT        IDC_EDITOR_TABSIZE,220,34,41,14,ES_AUTOHSCROLL
    CONTROL         "Color Scheme",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,16,45,71,10
    CONTROL         "Font Size",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,16,70,71,10
    GROUPBOX        "Display",IDC_STATIC,7,7,137,92
    GROUPBOX        "TAB options",IDC_STATIC,148,7,137,92
    GROUPBOX        "Other",IDC_STATIC,7,100,278,40
    CONTROL         "Remember the last folder",IDC_EDITOR_REMEMBERPATH,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,108,107,13
    CONTROL         "Remember the last project",IDC_EDITOR_REMEMBERPROJECT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,156,108,107,13 

    CONTROL         "Default encoding:",IDC_STATIC,"Static",
                    SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,16,122,64,10

    COMBOBOX        IDC_EDITOR_ENCODING,76,122,113,140,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,177,145,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,235,145,50,14
END

IDD_EDITOR_FIND DIALOGEX 0, 0, 283, 63
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find"
FONT 8, "Microsoft Sans Serif", 0, 0, 1
BEGIN
    COMBOBOX        IDC_FIND_TEXT,44,7,178,84,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | CBS_AUTOHSCROLL
    DEFPUSHBUTTON   "Find Next",IDOK,226,7,50,14
    PUSHBUTTON      "Close",IDCANCEL,226,24,50,14
    CONTROL         "Find what:",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,7,7,36,11
    CONTROL         "Match a case",IDC_FIND_CASE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,22,107,13
    CONTROL         "Match whole word",IDC_FIND_WHOLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,37,107,13
END

IDD_EDITOR_REPLACE DIALOGEX 0, 0, 283, 63
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Replace"
FONT 8, "Microsoft Sans Serif", 0, 0, 1
BEGIN
    COMBOBOX        IDC_FIND_TEXT,50,7,170,84,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | CBS_AUTOHSCROLL
    COMBOBOX        IDC_REPLACE_TEXT,50,20,170,84,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP | CBS_AUTOHSCROLL
    DEFPUSHBUTTON   "Replace",IDOK,226,7,50,14
    PUSHBUTTON      "Close",IDCANCEL,226,24,50,14
    CONTROL         "Find what:",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,5,7,36,11
    CONTROL         "Replace with:",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,5,20,42,11
    CONTROL         "Match a case",IDC_FIND_CASE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,34,107,13
    CONTROL         "Match whole word",IDC_FIND_WHOLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,44,107,13
END

IDD_ABOUT DIALOGEX 0, 0, 381, 240
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_FIXEDSYS | WS_POPUP | WS_BORDER | WS_SYSMENU
CAPTION "About"
FONT 8, "Courier New", 0, 0, 1
BEGIN
    LTEXT           "ELENA Integrated Development Environment", IDC_STATIC,21,16,165,11
    LTEXT           "Version", IDC_STATIC,21,26,65,11
    LTEXT           STRINGIZE(ENGINE_MAJOR_VERSION), IDC_STATIC, 78, 26, 5, 11
    LTEXT           ".", IDC_STATIC, 83, 26, 3, 11
    LTEXT           STRINGIZE(ENGINE_MINOR_VERSION), IDC_STATIC, 88, 26, 5, 11
    LTEXT           ".", IDC_STATIC, 93, 26, 3, 11
    LTEXT           STRINGIZE(IDE_REVISION_NUMBER), IDC_STATIC, 98, 26, 10, 11
    GROUPBOX        " License ",IDC_STATIC,19,85,337,121,BS_CENTER
    DEFPUSHBUTTON   "Close",IDOK,176,215,50,14,BS_FLAT,WS_EX_STATICEDGE
    LTEXT           "Author :",IDC_STATIC,21,41,31,8
    LTEXT           "Alex Rakov",IDC_STATIC,78,41,50,8
    LTEXT           "Home Page :",IDC_STATIC,21,54,47,8
    EDITTEXT        IDC_ABOUT_HOME,78,54,126,8,ES_READONLY | NOT WS_BORDER
    EDITTEXT        IDC_ABOUT_LICENCE_TEXT,25,99,329,96,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | WS_VSCROLL
END


IDD_GOTOLINE DIALOGEX  0, 0, 186, 55
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Go To Line"
FONT 8, "Microsoft Sans Serif", 0, 0, 1
BEGIN
    EDITTEXT        IDC_GOTOLINE_LINENUMBER,7,16,172,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,69,34,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,34,50,14
    LTEXT           "Line Number:",IDC_GOTOLINE_LABEL1,7,7,172,10
END

IDD_FORWARDS DIALOGEX 0, 0, 259, 170
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Forwards"
FONT 8, "Microsoft Sans Serif", 0, 0, 1
BEGIN
    LISTBOX         IDC_FORWARDS_LIST,7,20,245,107,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_FORWARDS_EDIT,7,130,245,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Add",IDC_FORWARDS_ADD,7,148,42,14
    PUSHBUTTON      "Replace",IDC_FORWARDS_REPLACE,54,149,40,14
    PUSHBUTTON      "Remove",IDC_FORWARDS_DELETE,100,149,42,14
    PUSHBUTTON      "Save",IDC_FORWARDS_SAVE,167,149,41,14
    PUSHBUTTON      "Cancel",IDCANCEL,211,149,41,14
    CONTROL         "Forwards (<forward name>=<class name>)",IDC_FORWARDS_LABEL1,
                    "Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,7,7,196,11
END

IDD_DEBUGGER_SETTINGS DIALOGEX 0, 0, 283, 63
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Debugger Settings"
FONT 8, "Microsoft Sans Serif", 0, 0, 1
BEGIN
    CONTROL         "Source Path:",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,5,7,42,11
    CONTROL         "Library Path:",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | WS_GROUP,5,30,42,11
    EDITTEXT        IDC_DEBUGGER_SRCPATH,50,7,170,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_DEBUGGER_LIBPATH,50,30,170,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Ok",IDOK,226,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,226,25,50,14
END

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION ENGINE_MAJOR_VERSION,ENGINE_MINOR_VERSION,IDE_REVISION_NUMBER
 PRODUCTVERSION ENGINE_MAJOR_VERSION,ENGINE_MINOR_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004b0"
        BEGIN
            VALUE "CompanyName", "ELENA Programming Language by Alex Rakov"
            VALUE "FileDescription", "ELENA IDE"
            VALUE "FileVersion", VER_FILE_VERSION_STR "\0"
            VALUE "LegalCopyright", "Copyright (C) 2018"
            VALUE "OriginalFilename", "elide"
            VALUE "ProductName", "ELENA Programming Language"
            VALUE "ProductVersion", VER_PRODUCT_VERSION_STR "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1200
    END
END
