Package:elena-lang
Version:2.1.0
Section:basic
Priority: optional
Maintainer: Alex Rakov <arakov@yandex.ru>
Architecture: i386
Depends: libc6 (>= 2.1)
Description: ELENA is a general-purpose, object-oriented, polymorphic language with late binding. It features message dispatching / manipulation, a script engine / interpreter and group object / mixin support. Package includes command-line compiler,elena lib30 api,samples
