# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Nightly BSD Build

on:
  schedule:
    - cron: '0 4 */3 * *'  # Run once per day
  workflow_dispatch: # Put here!!

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    name: FreeBSD nightly build
    steps:
    - uses: actions/checkout@v4
      with:
        ref: iteration43
    - name: Run in FreeBSD
      id: nightly
      uses: vmactions/freebsd-vm@v1
      with:
        usesh: true
        sync: rsync
        run: |
          make clang_all_amd64
          cd scripts/bsd.amd64
          ./local_build_package_amd64.script 
          ./local_runtests.script
          ./local_create_package.script
          
    - name: Delete old release assets
      uses: mknejp/delete-release-assets@v1
      with:
        token: ${{ github.token }}
        tag: nightly
        assets: '*amd64-freebsd.tar.xz'
        fail-if-no-assets : false

    - name: Upload Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: nightly
        draft: false
        prerelease: true
        files: |
          ./build/*.tar.xz
